footer.footer
    .container
        .level
            .level-left
                .level-item
                    img(src='https://images.vexels.com/media/users/3/185299/isolated/preview/47571e4edaf175be107a5aa2085cb331-golpe-de-taco-by-vexels.png' width='112' height='28')
            .level-right
                .level-item
                    span.icon.is-large
                        i.fab.fa-twitter.fa-2x
                    span.icon.is-large
                        i.fab.fa-facebook.fa-2x
                    span.icon.is-large
                        i.fab.fa-instagram.fa-2x
                    span.icon.is-large
                        i.fab.fa-whatsapp.fa-2x
        .divider.has-text-grey-lighter(style='border-top:1px solid currentColor;padding-top:10px;')
        .level
            .level-left
                .level-item.has-text-grey
                    small A que si te llenas!
            .level-left
                .level-item.has-text-grey
                    small= `Tacos MX ${new Date().getFullYear()} | All rights reserved`        