html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Taco's MX
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css")
  body(style="display: flex; min-height: 10vh; flex-direction: column")
      script(src="https://use.fontawesome.com/releases/v5.14.0/js/all.js")
      include navbar.pug
      block hero
      block content
      include footer.pug
      