nav.navbar.is-primary
    .container
        .navbar-brand
            a.navbar-item
                img(src='https://images.vexels.com/media/users/3/185299/isolated/preview/47571e4edaf175be107a5aa2085cb331-golpe-de-taco-by-vexels.png' width='100' height='150')
        .navbar-menu
            .navbar-end
                .navbar-item
                    span.icon.is-large
                        i.fas.fa-shopping-cart.fa-2x